button
  border: none
  padding: 7.5px
  border-radius: 5px
  box-shadow: 0px 0px 2.5px black
  outline: none
  
button:hover
  box-shadow: 0px 0px 5px black

button.sm
  padding: .25rem
  font-size: .75rem

button.lg
  padding: 1rem
  font-size: 1rem