.panel
  box-shadow: 0 0 5px #555
  border-radius: .25rem

  .panel-title
    padding: .5em
    border-top-left-radius: .25rem
    border-top-right-radius: .25rem

  .panel-body
    padding: .5em
    border-bottom-left-radius: .25rem
    border-bottom-right-radius: .25rem