@import './variables.scss';

.bgprimary {
  background: $primary;
}
.bgsuccess {
  background: $success;
}
.bgwarning {
  background: $warning;
}
.bgdanger {
  background: $danger;
}
.bgdefault {
  background: $default;
}