@import './variables.sass'

.bg-primary
  background: $primary

.bg-success
  background: $success

.bg-warning
  background: $warning

.bg-danger
  background: $danger

.bg-default
  background: $default

.text-white
  color: white